<h1>{{title}}</h1>
<div class="container1">
    <div class="image">
        <img src="http://orig08.deviantart.net/169c/f/2014/259/b/8/rockman___mega_man_pixel_art_by_zamavinzon-d7zgklp.png" alt="MEGAMAN" class="megaman">
    </div>
    <div class="paragraph">
        <p><strong><span class="blue">Blue</span></strong> is a smartwatch application designed for disadvantaged children
        who have limited access to <span class="orange">technology</span>.</p>
    </div>
</div>
<div class="container2">
    <p>The aim of <strong><span class="blue">Blue</span></strong> is to <em>entertain</em> and <em>encourage</em> the use of <span class="orange">technology</span>.</p>
    <img src="http://vignette3.wikia.nocookie.net/clashofclans/images/3/30/NYAN_CAT.gif/revision/latest?cb=20150415221840" alt="Nyan Cat">
</div>