<div class="test"></div>
<div>
	<div class="answer-page-layout {{flash}}">
	</div>
	<div id="square"></div>
	<div id="triangle"></div>
	<div id="diamond"></div>
	<div id="circle"></div>
	<div id="counter">
		<span id="counter-content">{{currentIndex}}</span>
	</div>
</div>