<div style="border-top: 115px solid red;border-right: 115px solid blue;border-bottom: 115px solid green;border-left: 115px solid lightgrey; width: 10px; height:10px">
<div style="border-radius: 50%;">1</div>
</div>