<h1>Quiz Page</h1>
<div id="shape-scroll">
    <div id="display-shape"></div>
</div>

<!-- TODO: Nidhi and Jacqui build quiz functionality -->
<script>
    var shapes = [ "<img src='../../images/square_black.png' alt='square' class='small'>",
                   "<img src='../../images/circle_black.png' alt='circle' class='small'>",
                   "<img src='../../images/triangle_black.png' alt='triangle' class='small'>",
                   "<img src='../../images/diamond_black.png' alt='diamond' class='small'>" ];
    document.getElementById("display-shape").innerHTML = shapes;
</script>